
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans bg-white text-slate-800 antialiased leading-relaxed;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-brand-blue-dark;
  }
  h1 {
    /* Approx 30px -> 36px */
    @apply text-3xl md:text-4xl tracking-tight !leading-tight;
  }
  h2 {
    /* Approx 24px -> 30px */
    @apply text-2xl md:text-3xl !leading-snug;
  }
  h3 {
    /* Approx 20px -> 24px */
    @apply text-xl md:text-2xl !leading-normal;
  }
  p {
    /* Approx 16px -> 18px */
    @apply text-base lg:text-lg;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}